*{
    margin: 0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background:#fff;
    color:  #080808;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
    border-color: rgb(196, 59, 245);
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    background-color: #bfb1f3;
    
}


nav ul li{
    display:inline-block;
    list-style:none ;
    margin: 30px 30px ;
    justify-content: space-between;
   
}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position:relative;
    margin: 50px;
}

nav ul li a::after{
    content: '';
    width: 0;
    height:3px;
    background:rgb(247, 245, 249);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
      margin-top: 20%;
      font-size: 50px;
      font-weight: 20px;
}

.lineup{
    animation: 4s anim-lineup ease-out infinite;
}

@keyframes anim-lineup{
    0%{
        opacity: 0;
        transform: translateY(80%);
    }
    20%{
        opacity:0;
    }
    50%{
        opacity:1;
        transform:translateY(0%)
    }
    100%{
        opacity:1;
        transform:translateY(0%)
    }
}

.header-text h1{
    font-size: 60px;
    margin-top:30px;
}

@keyframes ex{
    from {color: rgb(165, 124, 241);}
    to {color:#592bee;}
}

.header-text h1 span{
    color:rgb(165, 124, 241);
    animation-name: ex;
    animation-duration: 3s;
}

/*------------------------about--------------------*/

#about{
    padding:80px 0;
    color:rgb(165, 124, 241);
    
}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 30px;
}

.about-col-2{
    flex-basis: 50%;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color:rgb(67, 3, 107);
}

.tab-titles{
    display:flex;
    margin: 20px 0 40px;
}

.tab-links{
      margin-right: 50px;
      font-size: 18px;
      font-weight: 500;
      position: relative;
      cursor: pointer;
    }

.tab-links::after{
    content: '';
    width:0;
    height:3px;
    background: orchid;
    position: absolute;
    left:0;
    bottom:-8px;
    transition:1s;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:rgb(92, 9, 160);
    font-size: 14px;
}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display: block;
}

/*---------------------------Projects-----------------------*/

#Projects{
    padding: 50px 0;
    
}

.Projects-list{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-columns: 30px;
    grid-gap:10px;
    margin-top: 50px;
}

.Projects-list div{
    background:rgb(194, 139, 246);
    padding: 40px;
    margin:10px;
    font-size: 13px;
    font-weight:300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}


.Projects-list div i{
    font-size: 35px;
    margin-bottom: 30px;
}

.Projects-list div h2{
    font-size: 35px;
    font-weight:500;
    margin-bottom: 15px;
}



.Projects-list div:hover{
    background: rgb(143, 90, 241);
    transform: translateY(-10px);
}

.work{
    border-radius: 20px;
     width:100%;
    height: 100%;
    overflow: hidden;
    left:0;
   bottom:0;
   display:flex;
   align-items: center;
   justify-items: center;
   flex-direction: column;
   padding:0 60px;
   text-align:center;
}

.work a{
    margin-top: 50px;
    color:rgb(67, 3, 107);
    text-decoration: none;
    font-size: 10px;
    line-height: 60px;
    background: #fff;
    width:50px;
    height:50px;
    border-radius:100%;
    text-align: center;
}

.work a i{
    font-size:20px;
}

.btn{
    display:block;
    margin: 50px auto;
    width:fit-content;
    border:1px solid darkviolet;
    padding: 14px 50px;
    border-radius:6px;
    text-decoration: none;
    color: rgb(72, 7, 125);
    transition:0.5s;
}

.btn:hover{
    background: rgb(206, 175, 231);
    
}

/*-------------------------achievements--------------------*/

#achievement{
    padding:50px 0;
    
}

.achieve-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:40px;
    margin-top: 100px;
}

.Work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.Work img{
    width:100%;
    border-radius: 10px;
    display: block;
    padding: 20px 0;
    border: solid #835efb;
}

.layer{
    width:100%;
    height: 100%;
    padding-bottom: 100px;
}




/*----------------------------------------contact------------------------*/
.contact-left{
    flex-basis: 35%;

}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color:rgb(67, 3, 107);
    margin-right: 15px;
    font-size: 20px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:rgb(136, 25, 163);
    display:inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
   color: rgb(11, 4, 16);
   transform:translateY(-5px)
}

.btn.btn2{
    display: inline-block;
   
}

.contact-right form{
    width:100%;
}

form input, form textarea{
    width:100%;
    border:0;
    outline: none;
    background: rgb(207, 153, 243);
    padding: 15px;
    margin:15px;
    text-decoration:rgb(72, 7, 125);
    font-size:18px;
    border-radius: 6px;
}

form input, form ::placeholder{
    color:rgb(23, 2, 40);
}

form .btn2{
    padding:14px 60px;
    font-size:18px;
    margin-top:20px;
    cursor:pointer;
}

.contact-left a i{
    justify-content: space-between;
    font-size:50p;
}

.copyright{
    width:100%;
    text-align: center;
    padding: 25px;
    background:rgb(165, 124, 241) ;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: whitesmoke;
}

i.fa-solid.fa-download::before{
    display:flex;
    margin-left: 10px;
}

/*------------------------------CSS for small screen----------------------*/

nav .fa-solid{
    display:none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/bg1.jpg);
    }

    .header-text{
        margin-top:100%;
         font-size:16px
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .fa-solid{
        display:block;
        font-size: 25px;
    }

    nav ul{
        background:linear-gradient(to bottom, #a790fa 50%, #6d42f9);
        position: fixed;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        padding-top:50px;
        z-index: 2;
        transition:left 1s;
    }

    nav ul li{
        display:block;
        margin:30px;
    }

    nav ul .fa-solid{
        position:absolute;
        top:25px;
        left:25px;
        cursor:pointer;

    }

    .subtitles{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis:100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;

    }

    .tab-links{
        font-size:16px ;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis:100%;

    }

    .copyright{
        font-size: 12px;
    }
}

#msg{
    color:#835efb;
    margin-top:-30px;
    display: block;
}
